<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

  <div th:fragment="textInputField (labelMessageKey, field, inputType)" th:remove="tag">
    <label th:text="#{__${labelMessageKey}__}" />
    <input th:type="${inputType}" th:field="*{__${field}__}" />
    <span class="validation-error"
       th:if="${#fields.hasErrors('__${field}__')}"
       th:errors="*{__${field}__}" />
  </div> 
  
  <tr th:fragment="textInputtable (labelMessageKey, field, inputType)" th:remove="tag">
	<td>   
    <label th:text="#{__${labelMessageKey}__}" />
       </td>
       <td>
    <input th:type="${inputType}" th:field="*{__${field}__}" />
    </td>
    </tr>
    
    <tr th:fragment="errors-field (field)" >
    <td colspan="2">
    <span class="validation-error"
       th:if="${#fields.hasErrors('__${field}__')}"
       th:errors="*{__${field}__}" />
       </td>
    </tr>
  
  <span th:fragment="field-errors(field)" 
       class="validation-error"
       th:if="${#fields.hasErrors('__${field}__')}"
       th:errors="*{__${field}__}">
  </span>

</html>
