<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>System error</title>
  <link rel="stylesheet" href="../static/css/error-pages.css" th:href="@{css/error-pages.css}" />
</head>

<body>

  <div class="container">
    <h1>We are sorry, we can't serve your request right now.</h1>
    <h2>Please try again later.</h2>
  </div>

</body>
</html>