/*@import url(general.css);
@import url(ribbon.css);
*/
textarea:focus,select:focus,input:focus{
	background-color:white;
	color:black;
}
select,input {
   background-color:rgba(250,250,250,0.1);
   border:none;
   text-align:center;
}
textarea{
	background-color:rgba(150,150,150,0.1);
	border:none;
   text-align:center;
}
select,input{
	color:black;
}
td{
	vertical-align: bottom;
}
.validation-error {
    color: blue;
}
body{
	background-image:url("../images/hero2.jpg");
}
.del{
	margin-top:15px;
}
#profil{
	width:100%;
	height:100%;
	max-width:250px;
}

#abil{
	max-width:20%;
	margin-left:-22px;
}
.end{
	display: block;
    margin:0 auto;
    width: 50%;
    height:20%;
    background-color:rgba(230,156,236,0.98);
    border-radius: 12px;
    border: 2px solid #4CAF50; /* Green */
}
.end:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.row{
	background-color:rgba(250,250,250,0.9);
	min-width:1000px;
	max-width:1300px;
	margin: 0 auto;
}
.column {
    float: left;
    padding: 10px;
}
.column.right {
    width: 50%;
    margin-top:15%;
}

.column {
    float: left;
    padding: 5%;
}

.column.side {
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*.button{
	background-color: green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}*/
.per,.pers{
	padding-left:5px;
}
.third,.second,.first{
	background-color:rgba(250,0,0,0.5);
	width:100%;
	padding: 5px 5px;
	padding-bottom:15px;
	padding-left:15px;
	
	
}
#wallp{
	float:right;
	margin-right:350px;
	margin-bottom:100px;
}
.second{
	background-color:rgba(0,0,250,0.5);
	margin-top:5px;
}
.third{
	background-color:rgba(0,250,0,0.5);
	margin-top:5px;
}
input,select{
	margin-left: 10px;
	margin-top: 15px;
}
.help{
	margin:5px;
}
#image{
	margin-left:10px;
}
#name{
	margin-left:33px;
}
#age{
	margin-left:25px;
}
#height{
	margin-left:29px;
}
#weight{
	margin-left:10px;
}
#sex{
	margin-left:84px;
}
#type{
	margin-left:97px;
}
#special{
	margin-left:55px;
}
#origin{
	margin-left:32px;
}
#ok{
	 position: absolute;
	 padding-left:35px;
	 padding-right:35px;
	 padding-top:10px;
	 padding-bottom:10px;
    left: 45%;
}