
@import url(pagination.css);
* {
    box-sizing: border-box;
}
.end{
	display: block;
    margin:0 auto;
    width: 50%;
    height:20%;
    background-color:rgba(230,156,236,0.98);
    border-radius: 12px;
    border: 2px solid #4CAF50;
}
.end:hover {
    background-color: #4CAF50;
    color: white;
}

br {
    clear: both;
}
.searchForm{
	margin-left:40%;
}
.submit{
	padding:20px 20px 5px 5px;
	background-image:url("../images/search.png");
}


.heroList {
    margin-top: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.heroList ul {
    margin: 0px;
    padding: 0px;
}

.heroList ul li {
    display: block;
    background-position: right center;
    background-repeat: no-repeat;
}

.heroList ul li:hover {
    background-color:rgba(50,50,250,0.9);
}

.heroList ul li a {
    height: 100px;
    display: block; 
    padding: 10px;

}
.row{
	background-color:rgba(150,150,250,0.9);
	width:100%;
    
    float: left;
}
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.sidee {
    width: 85%;
}
.column.side {
    background-color:rgba(250,250,250,0.9);
    height:100%;
    margin-top:15%;
    min-width:20px;
    margin-right:2%;
}
.footer{
	
    padding: 10px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.heroList ul li .image {
    float: left;
    padding-right: 10px;
}


.usage-info, .no-results {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 36px;
}
.big{
	background-color:rgba(250,250,250,0.9);
	min-width:1000px;
}
body{
	background-image:url("../images/hero2.jpg");
}
.image{
	max-width:10%;
}
img{
	max-width:50%;
}