.mainImg{
	display:block;
	width:100%;
	vertical-align: bottom;
}
.footImg{
	display:block;
	width:100%;
	
}
.foot{
	width:20%;
	height:50%;
	text-align:center;
}
td{
	width:20%;
	height:50%;
	text-align:center;
}
table{
	width:100%;
	height:50%;
}
.main{
	width:50%;
	height:50%;
	text-align:center;
}
.footImg:hover,.mainImg:hover {
    opacity: 0.3;
}
body{
	background-image:url("../images/space.jpg");
}
form{
	margin: auto auto auto auto;
}