.pagination {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    background-color:rgba(250,250,250,0.8);
}

.pagination-stripe {
    display: inline;
    list-style-type: none;
}

.pagination-stripe li {
    display: inline;
}

.pagination .disabled a {
    cursor: default;
}

.pagination .active a {
    cursor: default;
    font-weight: bold;
}

.pagination a {
    color: black;
}

.pagination .disabled a {
    color: gray;
}

.pagination a:link {
    text-decoration: none;
}

.pagination a:visited {
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination .active a:hover, 
.pagination .disabled a:hover {
    text-decoration: none;
}

.pagination a:active {
    text-decoration: underline;
}