<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
>  
	<head>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="css/addHero.css" 
			th:href="@{css/addHero.css}"
		/>
		<title>
			Hero
		</title>
	</head>
	<body>
	<form
			 
			action="#" 
			th:action="@{/hero.html}" 
			th:object="${heroForm}" 
			method="post"
		>
		<div class="row"> 
			<div class="column side">
			
				<!--<div id="image">
					<img  id="profil"  />  src="../images/face.jpg" alt="img/face.jpg"  th:text="#{hero.form.label.profil}"  
					  <input type="file" th:field="*{hero.image}" name="productImg"/>
					 <label th:field="*{hero.image}"></label> 
				</div>-->
				
				<div class="first">
					<table>
						<tbody>
							<input type="hidden" th:field="*{hero.id}" /> 
						
							<tr th:replace="fragments/form :: textInputtable(hero.form.label.fullName, hero.fullName, 'text')" />
							<tr th:replace="fragments/form :: errors-field(hero.fullName)"></tr>
							<tr th:replace="fragments/form :: textInputtable(hero.form.label.age, hero.age, 'text')" />
							<tr th:replace="fragments/form :: errors-field(hero.age)"></tr>
							<tr  th:replace="fragments/form :: textInputtable(hero.form.label.height, hero.height, 'text')" />
							<td>
								<label class="help">
									cm
								</label>
							</td>
							<tr th:replace="fragments/form :: errors-field(hero.height)"></tr>
							<tr th:replace="fragments/form :: textInputtable(hero.form.label.weight, hero.weight, 'text')" />
							<td>
								<label class="help">
									kg
								</label>
							</td>
							<tr th:replace="fragments/form :: errors-field(hero.weight)"></tr>
						</tbody>
					</table>
				</div>
				
				<div class="second">
					<table>
						<tr>
							<td>
								<label>
									SEX:
								</label>
							</td>
							<td>
								<select th:field="*{hero.sex}">
									<option 
										th:each="jf : ${T(com.example.demo.model.Hero.sex).values()}" 
										th:value="${jf}" 
										th:text="#{'sex.' + ${jf}}"
									></option>
								</select>
							</td>
						</tr>
							<input 
							type="hidden" 
							th:field="*{hero.types.id}" 
							/>
							<tr>
								<td>
									<label>
										Type:
									</label>
								</td>
								<td>
									<select th:field="*{hero.types.species}">
										<option 
											th:each="jf : ${T(com.example.demo.model.Type.Species).values()}" 
											th:value="${jf}" 
											th:text="#{'species.' + ${jf}}"
										></option>
									</select>
								</td>
							</tr>
							<tr th:replace="fragments/form :: textInputtable(hero.form.label.spec, hero.types.spec, 'text')" />
							<tr></tr>
							<tr th:replace="fragments/form :: textInputtable(hero.form.label.origin, hero.origin, 'text')" />
							<tr></tr>
					</table>
					
				</div>
				
				<div class="third">
				
					<div 
						class="heading" 
					>
						Ability
					</div>
					<div 
						class="no-entries" 
						th:if="${#lists.isEmpty(heroForm.hero.abilities)}"
					>
						<span th:text="#{hero.form.abilities.empty}" >
						</span>
						<button 
							type="submit" 
							name="action" 
							value="add-ability" 
							th:value="${T(com.example.demo.controller.form.HeroForm.Action).ADD_ABILITY}" 
						>
							Add new
						</button>
					</div>
					<table id="abil" th:if="${not #lists.isEmpty(heroForm.hero.abilities)}">
						<thead>
							<tr>
								<th>
									Level
								</th>
								<th>
									Name
								</th>
								<th class="action">
									<button 
										type="submit" 
										name="action" 
										value="add-ability" 
										th:value="${T(com.example.demo.controller.form.HeroForm.Action).ADD_ABILITY}" 
									>
										Add new
									</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ability, stat : ${heroForm.hero.getAbilities()}">
								<input 
									type="hidden" 
									th:field="*{hero.abilities[__${stat.index}__].id}" 
								/>
								<td>
									<select th:field="*{hero.abilities[__${stat.index}__].level}">
										<option 
											th:each="level : ${T(com.example.demo.model.Ability.Level).values()}" 
											th:value="${level}" 
											th:text="#{'ability.' + ${level}}"
										>
										</option>
									</select>
								</td>
								<td>
									<input 
										type="text" 
										th:field="*{hero.abilities[__${stat.index}__].AbName}" 
									/>
									<span 
										class="validation-error" 
										th:if="${#fields.hasErrors('hero.abilities[' + stat.index + '].AbName')}" 
										th:errors="*{hero.abilities[__${stat.index}__].AbName}"
									>
										Error
									</span>
								</td>
								<td class="action">
									<button 
										type="submit" 
										name="deleteAbilityIndex"
										class="del" 
										value="0" 
										th:value="${stat.index}" 
									>
										Delete
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="column right">
			
				<label>
					Description
				</label>
				<textarea 
					th:field="*{hero.description}" 
					name="Description" 
					rows="20" 
					cols="60"
				></textarea>
			</div>
			<ul th:if="${#fields.hasErrors('global')}"> 
				<li 
					class="validation-error" 
					th:each="err : ${#fields.errors('global')}" 
					th:text="${err}"
				>
					Please review your iput
				</li>
			</ul>
			</div>
			<input class="end" type="button" onclick="location.href='/list.html';" value="Back to Heroes" />
				<button 
				type="submit" 
				name="action" 
				value="back"
				class="end" 
				th:value="${T(com.example.demo.controller.form.HeroForm.Action).BACK}" 
				
			>
				Back to Main
			</button>
			<button 
				th:if="${heroForm.hero.id != null}" 
				type="submit" 
				name="action" 
				class="end"
				value="save" 
				th:value="${T(com.example.demo.controller.form.HeroForm.Action).SAVE}" 
				
			>
				Save changes
			</button>
			<button 
				th:if="${heroForm.hero.id == null}" 
				type="submit" 
				name="action"
				class="end" 
				value="save" 
				th:value="${T(com.example.demo.controller.form.HeroForm.Action).SAVE}" 
				
			>
				Create new hero
			</button>
			<button 
				th:if="${heroForm.hero.id != null}" 
				type="submit" 
				name="action" 
				class="end"
				value="delete" 
				th:value="${T(com.example.demo.controller.form.HeroForm.Action).DELETE}" 
				
			>
				Delete this hero
			</button>
		</form>
	</body>
</html>