<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  

<head>
  <title>Heros</title>
  <link rel="stylesheet" href="../static/css/HeroList.css" th:href="@{css/HeroList.css}" />
</head>

<body>

  <div class="row">
	<div class="column sidee">
   

    <div class="searchForm">
      <form action="#" th:action="@{/list.html}" method="get">
        <label for="searchBox">Search for heros</label> 
        <input id="searchBox" class="hint" type="text" name="searchTerm" placeholder="type a name"	 autocomplete="off" />
        <button id="searchSubmit" class="submit" title="Search"	type="submit"></button>
      </form>
    </div>

    <br />
     <div class="heroList" th:if="${not #lists.isEmpty(herosPage)}">
      <ul>
        <li th:each="hero : ${herosPage.content}" th:id="${'hero-' + hero.id}"><a href="hero.html" th:href="@{/hero.html(heroId=${hero.id})}">
            <div class="image">
              <img class="im" src="../static/images/face.jpg" th:src="@{/images/face.jpg}" />
            </div>
            <div>
              <div th:text="${hero.fullName}">Hero Fullname</div>
             
            </div>
        </a></li>
      </ul>
    </div>

    <div class="no-results" th:if="${#lists.isEmpty(herosPage.content)}">
      Sorry, we do not have matching heros in the database.
    </div>
    </div>
    <div class="column side">
    <form action="">
    <input type="radio" name="vehicle" value="all"/>all<br/>
<input type="radio" name="vehicle" value="Bike"/>Warrior<br/>
<input type="radio" name="vehicle" value="Car"/>Wizard<br/>
<input type="radio" name="vehicle" value="Bike"/>Warrior<br/>
<input type="radio" name="vehicle" value="Car"/>Wizard<br/>
<input type="radio" name="vehicle" value="Bike"/>Warrior<br/>
<input type="radio" name="vehicle" value="Car"/>Wizard<br/>
</form>
    </div>
    </div>
    <div class="footer">
	  <div class="pagination" th:if="${herosPage.totalPages gt 1}">

    <ul class="pagination-stripe">
      <li th:class="${herosPage.number eq 0} ? 'disabled' : ''">
        <a th:if="${not herosPage.first}" th:href="@{${'/list.html'}(searchTerm=${param.searchTerm},page=${herosPage.number-1},size=${herosPage.size})}">Previous</a>
        <a th:if="${herosPage.first}" href="javascript:void(0);">Previous</a>
      </li>

      <li>
        <span th:if="${herosPage.number gt 3}">&nbsp;...&nbsp;</span>
      </li>
            
      <li th:each="pageNo : ${#numbers.sequence(herosPage.number le 3 ? 0 : herosPage.number - 3, herosPage.number ge herosPage.totalPages - 4 ? herosPage.totalPages - 1 : herosPage.number + 3)}" th:class="${herosPage.number eq pageNo}? 'active' : ''">
        <a th:if="${herosPage.number  eq pageNo}" href="javascript:void(0);" th:text="${pageNo + 1}" />
        <a th:if="${not (herosPage.number eq pageNo)}" th:href="@{${'/list.html'}(searchTerm=${param.searchTerm},page=${pageNo},size=${herosPage.size})}" th:text="${pageNo + 1}" />
      </li>
            
      <li>
        <span th:if="${herosPage.number lt herosPage.totalPages - 4}">&nbsp;...&nbsp;</span>
      </li>
            
      <li th:class="${herosPage.number + 1 ge herosPage.totalPages} ? 'disabled' : ''">
        <a th:if="${not herosPage.last}" th:href="@{${'/list.html'}(searchTerm=${param.searchTerm},page=${herosPage.number+1},size=${herosPage.size})}">Next</a>
        <a th:if="${herosPage.last}" href="javascript:void(0);">Next</a>
      </li>
    </ul>
          
  </div>			
   
    
  
  	<input class="end" type="button" onclick="location.href='/';" value="Back to Main" />
     <form action="#" th:action="@{/hero.html}" method="get">
      <button class="end" type="submit">Create new hero</button>
    </form>
    </div>
</body>
</html>

