<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
> 
	<head>
		<title>
			SuperHeros Assemble
		</title>
		<link 
			rel="stylesheet" 
			href="css/MainPage.css" 
			th:href="@{css/MainPage.css}" 
		/>
	</head>
	<body>
		<form>
			<table>
				<tr>
					<td class="main">
						<a href="/hero.html">
							<img 
								class="mainImg" 
								src="images/addhero.jpg" 
								alt="Add Hero"
							/>
						</a>
					</td>
					<td class="main">
						<a href="/list.html">
							<img 
								class="mainImg" 
								src="images/hero1.jpg" 
								alt="List of Heros"
							/>
						</a>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="foot">
						<a href="/hero.html?heroId=1">
							<img 
								class="footImg" 
								src="images/thor.png" 
								alt="Add Hero"
							/>
						</a>
					</td>  
					<td class="foot">
						<a href="/hero.html?heroId=5">
							<img 
								class="footImg" 
								src="images/dr.png" 
								alt="Add Hero"
							/>
						</a>
					</td>
					<td class="foot">
						<a href="/hero.html?heroId=2">
							<img 
								class="footImg" 
								src="images/hulk.png" 
								alt="Add Hero"
							/>
						</a>
					</td>
					<td class="foot">
						<a href="/hero.html?heroId=4">
							<img 
								class="footImg" 
								src="images/spider.png" 
								alt="Add Hero"
							/>
						</a>
					</td>
					<td class="foot">
						<a href="/hero.html?heroId=3">
							<img 
								class="footImg" 
								src="images/iron2.png" 
								alt="Add Hero"
							/>
						</a>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>